# EDA

## First look at the data

In [1]:
import pandas as pd

In [188]:
# Import data as DataFrames

listings = pd.read_csv('Data/listings.csv.gz')
listings_ = pd.read_csv('Data/listings.csv')
neighbor = pd.read_csv('Data/neighbourhoods.csv')
reviews = pd.read_csv('Data/reviews.csv')
calendar = pd.read_csv('Data/calendar.csv.gz')

listings1 = pd.read_csv('Data/listings (1).csv.gz')

/Users/taejoon/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (61,62,94,95) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [190]:
# Check the difference in listings and listings_

for i in list(listings_.columns):
    if i in list(listings.columns):
        pass
    else:
        print(i)

# All the information in listings_ is in listings except 'neighbourhood_group'
# neighbourhood_group column gives vague information - i.e., Manhattan, Brooklyn, Queens

# Use listings instead of listings_

neighbourhood_group

In [192]:
neighbor.head()

# Associates specific neighborhoods (i.e., Allerton) with neighborhood_group (i.e., Five Boroughs)

  neighbourhood_group neighbourhood
0               Bronx      Allerton
1               Bronx    Baychester
2               Bronx       Belmont
3               Bronx     Bronxdale
4               Bronx   Castle Hill

In [197]:
reviews.head()

# Dates each review was made - doesn't seem too useful

   listing_id        date
0        2595  2009-11-21
1        2595  2009-12-05
2        2595  2009-12-10
3        2595  2010-04-09
4        2595  2010-05-25

In [196]:
calendar.head()

# Booking status for each data with prices and min/max nights

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,63320,2020-12-11,t,$45.00,$45.00,30.0,365.0
1,30031,2020-12-11,f,$49.00,$49.00,30.0,30.0
2,30031,2020-12-12,f,$49.00,$49.00,30.0,30.0
3,30031,2020-12-13,f,$49.00,$49.00,30.0,30.0
4,30031,2020-12-14,f,$49.00,$49.00,30.0,30.0

In [198]:
listings_1.head()

# Listings information from January 3, 2020
# First case of COVID-19 in the USA was January 20, 2020

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2595,https://www.airbnb.com/rooms/2595,20200103021948,2020-01-04,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...","- Spacious (500+ft²), immaculate and nicely fu...","Beautiful, spacious skylit studio in the heart...",none,Centrally located in the heart of Manhattan ju...,...,f,f,strict_14_with_grace_period,t,t,2,2,0,0,0.39
1,3831,https://www.airbnb.com/rooms/3831,20200103021948,2020-01-04,Cozy Entire Floor of Brownstone,Urban retreat: enjoy 500 s.f. floor in 1899 br...,Greetings! We own a double-duplex brownst...,Urban retreat: enjoy 500 s.f. floor in 1899 br...,none,Just the right mix of urban center and local n...,...,f,f,moderate,f,f,1,1,0,0,4.65
2,5099,https://www.airbnb.com/rooms/5099,20200103021948,2020-01-03,Large Cozy 1 BR Apartment In Midtown East,My large 1 bedroom apartment has a true New Yo...,I have a large 1 bedroom apartment centrally l...,My large 1 bedroom apartment has a true New Yo...,none,My neighborhood in Midtown East is called Murr...,...,f,f,moderate,t,t,1,1,0,0,0.60
3,5121,https://www.airbnb.com/rooms/5121,20200103021948,2020-01-04,BlissArtsSpace!,NaN,HELLO EVERYONE AND THANKS FOR VISITING BLISS A...,HELLO EVERYONE AND THANKS FOR VISITING BLISS A...,none,NaN,...,f,f,strict_14_with_grace_period,f,f,1,0,1,0,0.39
4,5178,https://www.airbnb.com/rooms/5178,20200103021948,2020-01-04,Large Furnished Room Near B'way,Please don’t expect the luxury here just a bas...,"You will use one large, furnished, private roo...",Please don’t expect the luxury here just a bas...,none,"Theater district, many restaurants around here.",...,f,f,strict_14_with_grace_period,f,f,1,0,1,0,3.53

In [199]:
for i in list(listings_1.columns):
    if i in list(listings.columns):
        pass
    else:
        print(i)

summary
space
experiences_offered
notes
transit
access
interaction
house_rules
thumbnail_url
medium_url
xl_picture_url
street
city
state
zipcode
market
smart_location
country_code
country
is_location_exact
bed_type
square_feet
weekly_price
monthly_price
security_deposit
cleaning_fee
guests_included
extra_people
requires_license
jurisdiction_names
is_business_travel_ready
cancellation_policy
require_guest_profile_picture
require_guest_phone_verification

In [200]:
for i in list(listings.columns):
    if i in list(listings_1.columns):
        pass
    else:
        print(i)

bathrooms_text
number_of_reviews_l30d

## Filtering and grouping columns

In [249]:
# Store all host-related columns in a separate DataFrame
host_cols = ['host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified','calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms']
host_listings = listings[host_cols]
listings = listings.drop(host_cols, axis=1)

KeyError: "None of [Index(['host_id', 'host_url', 'host_name', 'host_since', 'host_location',\n       'host_about', 'host_response_time', 'host_response_rate',\n       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',\n       'host_picture_url', 'host_neighbourhood', 'host_listings_count',\n       'host_total_listings_count', 'host_verifications',\n       'host_has_profile_pic', 'host_identity_verified',\n       'calculated_host_listings_count',\n       'calculated_host_listings_count_entire_homes',\n       'calculated_host_listings_count_private_rooms',\n       'calculated_host_listings_count_shared_rooms'],\n      dtype='object')] are in the [columns]"

In [203]:
# Delete columns that contain data that does not have any value when predicting

keep = ['id', 'name', 'description', 'neighborhood_overview', 'neighbourhood_cleansed', 
        'property_type', 'room_type', 'accommodates','bathrooms_text', 'bedrooms', 
        'beds', 'amenities', 'price', 'minimum_nights', 'has_availability', 
        'availability_30', 'availability_60', 'availability_90', 'availability_365', 
        'number_of_reviews', 'last_review', 'review_scores_rating', 'review_scores_accuracy', 
        'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 
        'review_scores_location', 'review_scores_value', 'license', 'instant_bookable', 'reviews_per_month']
delete = ['listing_url', 'scrape_id', 'last_scraped', 'picture_url', 'neighbourhood',
          'latitude', 'longitude', 'neighbourhood_group_cleansed', 'bathrooms', 
          'maximum_nights', 'minimum_nights', 'maximum_nights', 'minimum_minimum_nights', 
          'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 
          'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated', 
          'calendar_last_scraped', 'first_review', 'license', 'number_of_reviews_ltm', 'number_of_reviews_l30d']

listings.drop(keep + delete, axis=1) # checking each column that were not classified yet

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[36923 rows x 0 columns]

In [252]:
filtered_listings_ = listings.drop(delete, axis=1)

In [253]:
filtered_listings_.columns

Index(['id', 'name', 'description', 'neighborhood_overview',
       'neighbourhood_cleansed', 'property_type', 'room_type', 'accommodates',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'has_availability', 'availability_30', 'availability_60',
       'availability_90', 'availability_365', 'number_of_reviews',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable', 'reviews_per_month'],
      dtype='object')

In [250]:
# Further (more strict) filtering of data, along with some classification

keep1 = ['room_type', 'neighbourhood_cleansed', 'property_type', 'accommodates', 'instant_bookable',
        'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'has_availability', 'availability_30', 'availability_60',
       'availability_90', 'availability_365']
text = ['name', 'description', 'neighborhood_overview', 'amenities', ]
delete1 = ['has_availability', ]
review = ['number_of_reviews', 'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'reviews_per_month']

filtered_listings_.drop(keep1 + delete1 + text + review, axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[36923 rows x 0 columns]

In [254]:
filtered_listings = filtered_listings_.drop(delete1 + text + review, axis=1)

In [255]:
filtered_listings.head()  # Condensed data after two rounds of filtering

,id,neighbourhood_cleansed,property_type,room_type,accommodates,bathrooms_text,bedrooms,beds,price,availability_30,availability_60,availability_90,availability_365,instant_bookable
0,2595,Midtown,Entire apartment,Entire home/apt,2,1 bath,NaN,1.0,$175.00,30,60,90,365,f
1,3831,Clinton Hill,Entire guest suite,Entire home/apt,3,1 bath,1.0,3.0,$74.00,12,31,61,307,f
2,5121,Bedford-Stuyvesant,Private room in apartment,Private room,2,NaN,1.0,1.0,$60.00,30,60,90,365,f
3,5178,Midtown,Private room in apartment,Private room,2,1 bath,1.0,1.0,$65.00,0,0,0,0,f
4,5203,Upper West Side,Private room in apartment,Private room,1,1 shared bath,1.0,1.0,$75.00,0,0,0,0,f

In [59]:
filtered_listings.room_type.value_counts()  # Room type is perhaps the most important, especially during COVID-19

Entire home/apt    19470
Private room       16478
Shared room          678
Hotel room           297
Name: room_type, dtype: int64

In [71]:
filtered_listings.loc[(filtered_listings['room_type'] != 'Private room') & (filtered_listings['room_type'] != 'Shared room')]

,neighbourhood_cleansed,property_type,room_type,accommodates,bathrooms_text,bedrooms,beds,price,availability_30,availability_60,availability_90,availability_365,instant_bookable
0,Midtown,Entire apartment,Entire home/apt,2,1 bath,NaN,1.0,$175.00,30,60,90,365,f
1,Clinton Hill,Entire guest suite,Entire home/apt,3,1 bath,1.0,3.0,$74.00,12,31,61,307,f
6,Williamsburg,Entire apartment,Entire home/apt,3,1 bath,NaN,1.0,$109.00,0,0,0,253,f
9,Fort Greene,Entire townhouse,Entire home/apt,2,1 bath,1.0,1.0,$199.00,9,39,69,344,t
11,Williamsburg,Entire loft,Entire home/apt,4,1 bath,NaN,2.0,$299.00,30,60,90,365,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36917,Upper West Side,Entire apartment,Entire home/apt,3,2 baths,3.0,3.0,$172.00,18,48,78,353,f
36918,Kips Bay,Entire apartment,Entire home/apt,2,1 bath,NaN,1.0,$199.00,30,60,90,180,f
36919,Upper West Side,Entire apartment,Entire home/apt,3,1 bath,1.0,1.0,$205.00,23,53,83,83,f
36921,Kips Bay,Entire apartment,Entire home/apt,2,1 bath,1.0,1.0,$295.00,23,53,83,83,f
36922,Bushwick,Entire townhouse,Entire home/apt,8,5.5 baths,4.0,0.0,$500.00,20,49,79,354,f

In [73]:
filtered_listings.loc[filtered_listings['room_type'] == 'Entire home/apt'].describe()

,accommodates,bedrooms,beds,availability_30,availability_60,availability_90,availability_365
count,19470.000000,16330.000000,19386.000000,19470.000000,19470.000000,19470.000000,19470.000000
mean,3.628814,1.588610,1.862788,10.599846,24.171341,38.557370,135.413867
std,2.019633,0.889727,1.328115,12.430573,25.584089,38.990461,147.266876
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,1.000000,2.000000,1.000000,10.000000,28.000000,78.000000
75%,4.000000,2.000000,2.000000,25.000000,53.000000,83.000000,313.000000
max,16.000000,21.000000,42.000000,30.000000,60.000000,90.000000,365.000000

In [58]:
filtered_listings.describe()

,accommodates,bedrooms,beds,availability_30,availability_60,availability_90,availability_365
count,36923.000000,33335.000000,36446.000000,36923.000000,36923.000000,36923.000000,36923.000000
mean,2.806245,1.315554,1.533611,11.256290,25.202828,39.724995,134.103513
std,1.849797,0.715933,1.139186,12.869548,26.242548,39.766940,147.640898
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,2.000000,1.000000,1.000000,1.000000,12.000000,31.000000,77.000000
75%,4.000000,1.000000,2.000000,27.000000,57.000000,87.000000,313.000000
max,16.000000,21.000000,42.000000,30.000000,60.000000,90.000000,365.000000

In [80]:
list(listings_1.columns)

['id',
 'listing_url',
 'scrape_id',
 'last_scraped',
 'name',
 'summary',
 'space',
 'description',
 'experiences_offered',
 'neighborhood_overview',
 'notes',
 'transit',
 'access',
 'interaction',
 'house_rules',
 'thumbnail_url',
 'medium_url',
 'picture_url',
 'xl_picture_url',
 'host_id',
 'host_url',
 'host_name',
 'host_since',
 'host_location',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_thumbnail_url',
 'host_picture_url',
 'host_neighbourhood',
 'host_listings_count',
 'host_total_listings_count',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified',
 'street',
 'neighbourhood',
 'neighbourhood_cleansed',
 'neighbourhood_group_cleansed',
 'city',
 'state',
 'zipcode',
 'market',
 'smart_location',
 'country_code',
 'country',
 'latitude',
 'longitude',
 'is_location_exact',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'bed_type',
 'amenities',
 'square_feet',
 'price',
 'weekly_price',
 'monthly_price',
 'security_deposit',
 'cleaning_fee',
 'guests_included',
 'extra_people',
 'minimum_nights',
 'maximum_nights',
 'minimum_minimum_nights',
 'maximum_minimum_nights',
 'minimum_maximum_nights',
 'maximum_maximum_nights',
 'minimum_nights_avg_ntm',
 'maximum_nights_avg_ntm',
 'calendar_updated',
 'has_availability',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'calendar_last_scraped',
 'number_of_reviews',
 'number_of_reviews_ltm',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'requires_license',
 'license',
 'jurisdiction_names',
 'instant_bookable',
 'is_business_travel_ready',
 'cancellation_policy',
 'require_guest_profile_picture',
 'require_guest_phone_verification',
 'calculated_host_listings_count',
 'calculated_host_listings_count_entire_homes',
 'calculated_host_listings_count_private_rooms',
 'calculated_host_listings_count_shared_rooms',
 'reviews_per_month']

In [83]:
listings_1[['availability_30', 'availability_60', 'availability_90', 'availability_365']].describe()

       availability_30  availability_60  availability_90  availability_365
count     51361.000000     51361.000000     51361.000000      51361.000000
mean         10.998423        23.844259        37.117443        120.569342
std          12.492029        25.197930        38.033785        138.236705
min           0.000000         0.000000         0.000000          0.000000
25%           0.000000         0.000000         0.000000          0.000000
50%           3.000000        12.000000        24.000000         62.000000
75%          26.000000        53.000000        82.000000        244.000000
max          30.000000        60.000000        90.000000        365.000000

## Preparing data for modelling

### Listings

In [259]:
filtered_listings.head()

,id,neighbourhood_cleansed,property_type,room_type,accommodates,bathrooms_text,bedrooms,beds,price,availability_30,availability_60,availability_90,availability_365,instant_bookable
0,2595,Midtown,Entire apartment,Entire home/apt,2,1 bath,NaN,1.0,$175.00,30,60,90,365,f
1,3831,Clinton Hill,Entire guest suite,Entire home/apt,3,1 bath,1.0,3.0,$74.00,12,31,61,307,f
2,5121,Bedford-Stuyvesant,Private room in apartment,Private room,2,NaN,1.0,1.0,$60.00,30,60,90,365,f
3,5178,Midtown,Private room in apartment,Private room,2,1 bath,1.0,1.0,$65.00,0,0,0,0,f
4,5203,Upper West Side,Private room in apartment,Private room,1,1 shared bath,1.0,1.0,$75.00,0,0,0,0,f

In [264]:
hood = filtered_listings.neighbourhood_cleansed.value_counts()

In [257]:
filtered_listings.neighbourhood_cleansed.value_counts().describe()

count     221.000000
mean      167.072398
std       391.105141
min         1.000000
25%         8.000000
50%        28.000000
75%       121.000000
max      2743.000000
Name: neighbourhood_cleansed, dtype: float64

In [265]:
hood

Williamsburg          2743
Bedford-Stuyvesant    2690
Harlem                1951
Bushwick              1653
Hell's Kitchen        1536
                      ...
Neponsit                 1
Huguenot                 1
Lighthouse Hill          1
West Farms               1
Woodrow                  1
Name: neighbourhood_cleansed, Length: 221, dtype: int64

In [268]:
hood.loc[hood > 10].index

Index(['Williamsburg', 'Bedford-Stuyvesant', 'Harlem', 'Bushwick',
       'Hell's Kitchen', 'Upper West Side', 'Midtown', 'Upper East Side',
       'East Village', 'Crown Heights',
       ...
       'City Island', 'East Morrisania', 'Navy Yard', 'Bergen Beach',
       'Clifton', 'Van Nest', 'Morrisania', 'Stapleton', 'Sea Gate',
       'Bellerose'],
      dtype='object', length=158)

In [267]:
(221-158) / 221  # 28.5 percent of neighborhoods

0.2850678733031674

In [234]:
filtered_listings.instant_bookable.value_counts()

f    25761
t    11162
Name: instant_bookable, dtype: int64

In [239]:
filtered_listings.instant_bookable = filtered_listings.instant_bookable.map(lambda x: make_int(x))

In [240]:
filtered_listings.instant_bookable.value_counts()

0    25761
1    11162
Name: instant_bookable, dtype: int64

### Neighbor

In [216]:
neighbor.neighbourhood_group.value_counts()

Queens           53
Bronx            49
Brooklyn         48
Staten Island    48
Manhattan        32
Name: neighbourhood_group, dtype: int64

### Calendar

In [210]:
# Transform t/f into 1/0

def make_int(x):
    if x == 't':
        x = 1
    else: 
        x = 0
    return x

In [211]:
calendar.available = calendar.available.map(lambda x: make_int(x))

In [212]:
calendar.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,63320,2020-12-11,1,$45.00,$45.00,30.0,365.0
1,30031,2020-12-11,0,$49.00,$49.00,30.0,30.0
2,30031,2020-12-12,0,$49.00,$49.00,30.0,30.0
3,30031,2020-12-13,0,$49.00,$49.00,30.0,30.0
4,30031,2020-12-14,0,$49.00,$49.00,30.0,30.0

In [213]:
calendar.available.value_counts()

0    8285675
1    5189230
Name: available, dtype: int64

In [228]:
# Change prices from strings to float

calendar.price = calendar.price.map(lambda x: float(x[1:].replace(',', '')))
calendar.adjusted_price = calendar.adjusted_price.map(lambda x: float(x[1:].replace(',', '')))

## Miscellaneous (ignore)

### Joining?

In [130]:
join_c = calendar.groupby(['listing_id']).mean().describe()

          available  minimum_nights  maximum_nights
count  36917.000000    36917.000000    3.691700e+04
mean       0.385109       28.463700    2.160451e+06
std        0.405991       63.293037    6.496776e+07
min        0.000000        1.000000    1.000000e+00
25%        0.000000        4.860274    3.650000e+02
50%        0.238356       30.000000    1.125000e+03
75%        0.879452       30.000000    1.125000e+03
max        1.000000     1250.000000    2.147484e+09

In [139]:
j_cols = list(filtered_listings_1.columns)
j_cols.append('id')

In [140]:
j_calendar = calendar.groupby(['listing_id']).mean()
j_listings = listings_[j_cols]

In [141]:
j_listings

,neighbourhood_cleansed,property_type,room_type,accommodates,bathrooms_text,bedrooms,beds,price,availability_30,availability_60,availability_90,availability_365,instant_bookable,id
0,Midtown,Entire apartment,Entire home/apt,2,1 bath,NaN,1.0,$175.00,30,60,90,365,f,2595
1,Clinton Hill,Entire guest suite,Entire home/apt,3,1 bath,1.0,3.0,$74.00,12,31,61,307,f,3831
2,Bedford-Stuyvesant,Private room in apartment,Private room,2,NaN,1.0,1.0,$60.00,30,60,90,365,f,5121
3,Midtown,Private room in apartment,Private room,2,1 bath,1.0,1.0,$65.00,0,0,0,0,f,5178
4,Upper West Side,Private room in apartment,Private room,1,1 shared bath,1.0,1.0,$75.00,0,0,0,0,f,5203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36918,Kips Bay,Entire apartment,Entire home/apt,2,1 bath,NaN,1.0,$199.00,30,60,90,180,f,46937371
36919,Upper West Side,Entire apartment,Entire home/apt,3,1 bath,1.0,1.0,$205.00,23,53,83,83,f,46937954
36920,East Harlem,Shared room in apartment,Shared room,1,1 shared bath,1.0,0.0,$35.00,26,56,86,176,f,46938514
36921,Kips Bay,Entire apartment,Entire home/apt,2,1 bath,1.0,1.0,$295.00,23,53,83,83,f,46938537
36922,Bushwick,Entire townhouse,Entire home/apt,8,5.5 baths,4.0,0.0,$500.00,20,49,79,354,f,46941857

In [143]:
j_calendar

            available  minimum_nights  maximum_nights
listing_id
2595         1.000000            30.0          1125.0
3831         0.841096             1.0          1125.0
5121         1.000000            30.0           730.0
5178         0.975342             2.0            14.0
5203         0.000000             2.0            14.0
...               ...             ...             ...
46937371     0.493151            30.0           365.0
46937954     0.227397            30.0          1125.0
46938514     0.482192             1.0          1125.0
46938537     0.227397             4.0            90.0
46941857     0.969863             1.0          1125.0

[36917 rows x 3 columns]

In [144]:
# df.set_index('key').join(other.set_index('key'))

joined = j_calendar.join(j_listings.set_index('id'))

In [145]:
joined

,available,minimum_nights,maximum_nights,neighbourhood_cleansed,property_type,room_type,accommodates,bathrooms_text,bedrooms,beds,price,availability_30,availability_60,availability_90,availability_365,instant_bookable
listing_id,,,,,,,,,,,,,,,,
2595,1.000000,30.0,1125.0,Midtown,Entire apartment,Entire home/apt,2,1 bath,NaN,1.0,$175.00,30,60,90,365,f
3831,0.841096,1.0,1125.0,Clinton Hill,Entire guest suite,Entire home/apt,3,1 bath,1.0,3.0,$74.00,12,31,61,307,f
5121,1.000000,30.0,730.0,Bedford-Stuyvesant,Private room in apartment,Private room,2,NaN,1.0,1.0,$60.00,30,60,90,365,f
5178,0.975342,2.0,14.0,Midtown,Private room in apartment,Private room,2,1 bath,1.0,1.0,$65.00,0,0,0,0,f
5203,0.000000,2.0,14.0,Upper West Side,Private room in apartment,Private room,1,1 shared bath,1.0,1.0,$75.00,0,0,0,0,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46937371,0.493151,30.0,365.0,Kips Bay,Entire apartment,Entire home/apt,2,1 bath,NaN,1.0,$199.00,30,60,90,180,f
46937954,0.227397,30.0,1125.0,Upper West Side,Entire apartment,Entire home/apt,3,1 bath,1.0,1.0,$205.00,23,53,83,83,f
46938514,0.482192,1.0,1125.0,East Harlem,Shared room in apartment,Shared room,1,1 shared bath,1.0,0.0,$35.00,26,56,86,176,f
46938537,0.227397,4.0,90.0,Kips Bay,Entire apartment,Entire home/apt,2,1 bath,1.0,1.0,$295.00,23,53,83,83,f
46941857,0.969863,1.0,1125.0,Bushwick,Entire townhouse,Entire home/apt,8,5.5 baths,4.0,0.0,$500.00,20,49,79,354,f

In [146]:
joined.isna().sum()

available                    0
minimum_nights               0
maximum_nights               0
neighbourhood_cleansed       0
property_type                0
room_type                    0
accommodates                 0
bathrooms_text              88
bedrooms                  3583
beds                       472
price                        0
availability_30              0
availability_60              0
availability_90              0
availability_365             0
instant_bookable             0
dtype: int64

In [155]:
calendar.loc[calendar['listing_id'] == 46937371]

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
13464320,46937371,2020-12-11,1,$199.00,$199.00,30.0,365.0
13464321,46937371,2020-12-12,1,$199.00,$199.00,30.0,365.0
13464322,46937371,2020-12-13,1,$199.00,$199.00,30.0,365.0
13464323,46937371,2020-12-14,1,$199.00,$199.00,30.0,365.0
13464324,46937371,2020-12-15,1,$199.00,$199.00,30.0,365.0
...,...,...,...,...,...,...,...
13464680,46937371,2021-12-06,0,$199.00,$199.00,30.0,365.0
13464681,46937371,2021-12-07,0,$199.00,$199.00,30.0,365.0
13464682,46937371,2021-12-08,0,$199.00,$199.00,30.0,365.0
13464683,46937371,2021-12-09,0,$199.00,$199.00,30.0,365.0
13464684,46937371,2021-12-10,0,$199.00,$199.00,30.0,365.0

In [166]:
group_count = calendar.groupby(['listing_id']).count()

In [167]:
group_count.available.value_counts()

365    36717
366      200
Name: available, dtype: int64

In [169]:
calendar.date.value_counts().nunique()

7

In [171]:
calendar.date.value_counts().tail(10)

2020-12-22    36917
2021-08-14    36917
2020-12-31    36917
2021-07-04    36917
2020-12-12    36916
2020-12-11    36893
2021-12-10    33454
2020-12-10     3663
2021-12-11       24
2021-12-12        1
Name: date, dtype: int64

In [172]:
calendar.date.value_counts().head()

2021-09-05    36917
2021-11-28    36917
2021-01-04    36917
2021-04-29    36917
2021-03-22    36917
Name: date, dtype: int64

In [173]:
calendar.date.value_counts()

2021-09-05    36917
2021-11-28    36917
2021-01-04    36917
2021-04-29    36917
2021-03-22    36917
              ...
2020-12-11    36893
2021-12-10    33454
2020-12-10     3663
2021-12-11       24
2021-12-12        1
Name: date, Length: 368, dtype: int64

# Data

## Variables

In [180]:
filtered_listings_1

,neighbourhood_cleansed,property_type,room_type,accommodates,bathrooms_text,bedrooms,beds,price,availability_30,availability_60,availability_90,availability_365,instant_bookable
0,Midtown,Entire apartment,Entire home/apt,2,1 bath,NaN,1.0,$175.00,30,60,90,365,f
1,Clinton Hill,Entire guest suite,Entire home/apt,3,1 bath,1.0,3.0,$74.00,12,31,61,307,f
2,Bedford-Stuyvesant,Private room in apartment,Private room,2,NaN,1.0,1.0,$60.00,30,60,90,365,f
3,Midtown,Private room in apartment,Private room,2,1 bath,1.0,1.0,$65.00,0,0,0,0,f
4,Upper West Side,Private room in apartment,Private room,1,1 shared bath,1.0,1.0,$75.00,0,0,0,0,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36918,Kips Bay,Entire apartment,Entire home/apt,2,1 bath,NaN,1.0,$199.00,30,60,90,180,f
36919,Upper West Side,Entire apartment,Entire home/apt,3,1 bath,1.0,1.0,$205.00,23,53,83,83,f
36920,East Harlem,Shared room in apartment,Shared room,1,1 shared bath,1.0,0.0,$35.00,26,56,86,176,f
36921,Kips Bay,Entire apartment,Entire home/apt,2,1 bath,1.0,1.0,$295.00,23,53,83,83,f
36922,Bushwick,Entire townhouse,Entire home/apt,8,5.5 baths,4.0,0.0,$500.00,20,49,79,354,f

## Train-test split

In [184]:
from sklearn.model_selection import train_test_split

In [185]:
X = filtered_listings_1.drop(['availability_30', 'availability_60', 'availability_90'], axis=1)
y = filtered_listings_1['availability_90']

In [186]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

# Functions

## Data Analysis

In [237]:
# Checks if columns in the first DataFrame are also in the second Dataframe
# Returns column names that are unique to the first DataFrame

def first_in_second(first, second):
    unique = []
    for i in list(first.columns):
        if i in list(second.columns):
            pass
        else:
            unique.append(i)
    return unique

In [235]:
# Transform t/f into 1/0

def make_int(x):
    if x == 't':
        x = 1
    else: 
        x = 0
    return x

In [241]:
# Transforms prices in string type to float

def price_to_float(DataFrame, list_of_cols):
    for cols in list_of_cols:
        DataFrame.col = DataFrame.col.map(lambda x: float(x[1:].replace(',', '')))
    return DataFrame

## Machine Learning Models

In [182]:
# Returns a dictionary of key metrics (Accuracy, F1, Precision, Recall)

def model_metrics(actual, predicted):
    score = {}
    score['Accuracy'] = accuracy_score(actual, predicted)
    score['F1'] = f1_score(actual, predicted)
    score['Precision'] = precision_score(actual, predicted)
    score['Recall'] = recall_score(actual, predicted)
    return score

In [183]:
# Returns a visualization of the Confusion Matrix using Seaborn

def conf_matrix(actual, predicted):
    
    conf = confusion_matrix(actual, predicted)

    ax = plt.subplot()
    sns.heatmap(conf, annot=True, ax=ax, cmap=plt.cm.Blues); # annot=True to annotate cells

    # labels, title and ticks
    ax.set_ylim([2,0])  # added because for some reason the annotations were not centered
    ax.set_xlabel('Predicted labels')
    ax.set_ylabel('True labels')
    ax.set_title('Confusion Matrix')
    ax.xaxis.set_ticklabels(['Paid', 'Default'])
    ax.yaxis.set_ticklabels(['Paid', 'Default']);

# Machine Learning Models

In [ ]:
# Measuring runtime
# Gridsearch
# Scaling

## Logistic Regression

In [181]:
# Import libraries
from sklearn.linear_model import LogisticRegression
import statsmodels.api as sm

In [187]:
logreg = LogisticRegression(C=1e10, solver='liblinear')
# fitintercept = false suppresses int (forces the int=0, then fit)
# C is inverse regularization. larger C == less regularization == more overfitting
logreg.fit(X_train, y_train)

ValueError: could not convert string to float: 'f'

## K-Nearest Neighbors

## Naive Bayes

## Decision Trees

## Ensemble Methods

## Boosting Methods

# Results